<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery List</title>
</head>
<body>
  <h1>Groceries</h1>
  <ul>
    <% @file.each do |food| %>
      <li><%= food %></li>
    <% end %>
  </ul>
  <form action = "/groceries" method = "post" id = "new-food">
    <label for = 'food'>New Item:</label>
    <input type="text" name="food">
    <input type="submit" value= "Add">
  </form>
</body>
</html>
